In [2]:
import numpy as np #Linear algebra
import pandas as pd #allows data manipulations and matrices

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\danie\anaconda3\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in c:\users\danie\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
df = pd.read_csv(r"C:\Documents\Data analysis\USA Optimal price predicition\archive (1)\amz_us_price_prediction_dataset.csv")
print(df)

             uid        asin  \
0              1  B014TMV5YE
1              2  B07GDLCQXV
2              3  B07XSCCZYG
3              4  B08MVFKGJM
4              5  B01DJLKZBA
...          ...         ...
1735409  2243231  B098BQ7ZQ3
1735410  2243232  B07X1MVNT1
1735411  2243233  B08XLBG8V9
1735412  2243234  B07GH67QC8
1735413  2243235  B0CDPHZDYB

                                                     title  stars  reviews  \
0        Sion Softside Expandable Roller Luggage, Black...    4.5        0
1        Luggage Sets Expandable PC+ABS Durable Suitcas...    4.5        0
2        Platinum Elite Softside Expandable Checked Lug...    4.6        0
3        Freeform Hardside Expandable with Double Spinn...    4.6        0
4        Winfield 2 Hardside Expandable Luggage with Sp...    4.5        0
...                                                    ...    ...      ...
1735409  Men's Baseball Cap - H2O-DRI Line Up Curved Br...    4.4        0
1735410  [4 Pack] Adjustable Eyeglasses and Sunglasses ...    3.6        0
1735411                          Ax2002 Aviator Sunglasses    4.5        0
1735412  in Hoc Signo Vinces Knights Templar Masonic Em...    4.9        0
1735413  12 Pieces Sailor Scarf Red White and Blue Flig...    0.0        0

          price           category  isBestSeller  boughtInLastMonth
0        139.99          Suitcases         False               2000
1        169.99          Suitcases         False               1000
2        365.49          Suitcases         False                300
3        291.59          Suitcases         False                400
4        174.99          Suitcases         False                400
...         ...                ...           ...                ...
1735409   33.99  Men's Accessories         False                  0
1735410    8.54  Men's Accessories         False                  0
1735411   54.36  Men's Accessories         False                  0
1735412   18.79  Men's Accessories         False                  0
1735413   14.99  Men's Accessories         False                  0

[1735414 rows x 9 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735414 entries, 0 to 1735413
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   uid                int64
 1   asin               object
 2   title              object
 3   stars              float64
 4   reviews            int64
 5   price              float64
 6   category           object
 7   isBestSeller       bool
 8   boughtInLastMonth  int64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 107.6+ MB

In [10]:
pwd

'C:\\Users\\Danie\\Documents'

In [12]:
df.columns

Index(['uid', 'asin', 'title', 'stars', 'reviews', 'price', 'category',
       'isBestSeller', 'boughtInLastMonth'],
      dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=1735414, step=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1735414 entries, 0 to 1735413
Data columns (total 9 columns):
 #   Column             Dtype
---  ------             -----
 0   uid                int64
 1   asin               object
 2   title              object
 3   stars              float64
 4   reviews            int64
 5   price              float64
 6   category           object
 7   isBestSeller       bool
 8   boughtInLastMonth  int64
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 107.6+ MB

In [16]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
uid,1735414.0,1.113750e+06,635129.008268,1.0,594702.25,1091739.50,1651765.75,2243235.00
stars,1735414.0,4.054889e+00,1.278032,0.0,4.20,4.50,4.70,5.00
reviews,1735414.0,1.772809e+02,1774.467189,0.0,0.00,0.00,0.00,346563.00
price,1735414.0,4.220253e+01,124.982160,0.0,11.99,19.89,35.00,19731.81
boughtInLastMonth,1735414.0,1.907960e+02,995.244518,0.0,0.00,0.00,100.00,100000.00

In [18]:
df['stars']

0          4.5
1          4.5
2          4.6
3          4.6
4          4.5
          ...
1735409    4.4
1735410    3.6
1735411    4.5
1735412    4.9
1735413    0.0
Name: stars, Length: 1735414, dtype: float64