In [2]:
import numpy as np #Linear algebra
import pandas as pd #allows data manipulations and matrices
#pip install mysql-connector-python # Connector used to import data from mysql to python, must be used in command promt

In [7]:
import mysql.connector


# Establish the connection
connection = mysql.connector.connect(
    host='localhost',          # e.g., 'localhost' or '127.0.0.1'
    user='root',      # your MySQL username
    password='Marblelfc246!@RP',  # your MySQL password
    database='used_car'   # your database name
)

# Create a cursor object
cursor = connection.cursor()

# Write your query
query = "SELECT * FROM used_car.audi;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
audi = pd.DataFrame(result, columns=column_names)

# Close the cursor and connection
cursor.close()
connection.close()

# Print the DataFrame
print(audi)

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10560    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10561    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10562    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10563    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10564    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10565 rows x 9 columns]

In [10]:



# Establish the connection
connection = mysql.connector.connect(
    host='localhost',          # e.g., 'localhost' or '127.0.0.1'
    user='root',      # your MySQL username
    password='Marblelfc246!@RP',  # your MySQL password
    database='used_car'   # your database name
)

# Create a cursor object
cursor = connection.cursor()

# Write your query
query = "SELECT * FROM used_car.bmw;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
bmw = pd.DataFrame(result, columns=column_names)

# Close the cursor and connection
cursor.close()
connection.close()

# Print the DataFrame
print(audi)
print(bmw)

      model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0        A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1        A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2        A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3        A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4        A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0
...     ...   ...    ...          ...      ...      ...  ...   ...         ...
10560    A3  2020  16999       Manual     4018   Petrol  145  49.6         1.0
10561    A3  2020  16999       Manual     1978   Petrol  150  49.6         1.0
10562    A3  2020  17199       Manual      609   Petrol  150  49.6         1.0
10563    Q3  2017  19499    Automatic     8646   Petrol  150  47.9         1.4
10564    Q3  2016  15999       Manual    11855   Petrol  150  47.9         1.4

[10565 rows x 9 columns]
           model  year  price transmission  mileage fuelType  tax   mpg  \
0       5 Series  2014  11200    Automatic    67068   Diesel  125  57.6
1       6 Series  2018  27000    Automatic    14827   Petrol  145  42.8
2       5 Series  2016  16000    Automatic    62794   Diesel  160  51.4
3       1 Series  2017  12750    Automatic    26676   Diesel  145  72.4
4       7 Series  2014  14500    Automatic    39554   Diesel  160  50.4
...          ...   ...    ...          ...      ...      ...  ...   ...
10659         X3  2016  19000    Automatic    40818   Diesel  150  54.3
10660   5 Series  2016  14600    Automatic    42947   Diesel  125  60.1
10661   3 Series  2017  13100       Manual    25468   Petrol  200  42.8
10662   1 Series  2014   9930    Automatic    45000   Diesel   30  64.2
10663         X1  2017  15981    Automatic    59432   Diesel  125  57.6

       engineSize
0             2.0
1             2.0
2             3.0
3             1.5
4             3.0
...           ...
10659         2.0
10660         2.0
10661         2.0
10662         2.0
10663         2.0

[10664 rows x 9 columns]

In [12]:
# Establish the connection
connection = mysql.connector.connect(
    host='localhost',          # e.g., 'localhost' or '127.0.0.1'
    user='root',      # your MySQL username
    password='Marblelfc246!@RP',  # your MySQL password
    database='used_car'   # your database name
)

# Create a cursor object
cursor = connection.cursor()

# Query
query = "SELECT * FROM used_car.ford;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
ford = pd.DataFrame(result, columns=column_names)

#Print data
print(ford)

         model  year  price transmission  mileage fuelType  tax   mpg  \
0       Fiesta  2017  12000    Automatic    15944   Petrol  150  57.7
1        Focus  2018  14000       Manual     9083   Petrol  150  57.7
2        Focus  2017  13000       Manual    12456   Petrol  150  57.7
3       Fiesta  2019  17500       Manual    10460   Petrol  145  40.3
4       Fiesta  2019  16500    Automatic     1482   Petrol  145  48.7
...        ...   ...    ...          ...      ...      ...  ...   ...
17806   Fiesta  2016   7999       Manual    31348   Petrol  125  54.3
17807    B-MAX  2017   8999       Manual    16700   Petrol  150  47.1
17808    B-MAX  2014   7499       Manual    40700   Petrol   30  57.7
17809    Focus  2015   9999       Manual     7010   Diesel   20  67.3
17810       KA  2018   8299       Manual     5007   Petrol  145  57.7

       engineSize
0             1.0
1             1.0
2             1.0
3             1.5
4             1.0
...           ...
17806         1.2
17807         1.4
17808         1.0
17809         1.6
17810         1.2

[17811 rows x 9 columns]

In [13]:
# Create a cursor object
cursor = connection.cursor()

# Query
query = "SELECT * FROM used_car.hyundi;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
hyundi = pd.DataFrame(result, columns=column_names)

#Print data
print(hyundi)

        model  year  price transmission  mileage fuelType  tax(Â£)   mpg  \
0         I20  2017   7999       Manual    17307   Petrol      145  58.9
1      Tucson  2016  14499    Automatic    25233   Diesel      235  43.5
2      Tucson  2016  11399       Manual    37877   Diesel       30  61.7
3         I10  2016   6499       Manual    23789   Petrol       20  60.1
4        IX35  2015  10199       Manual    33177   Diesel      160  51.4
...       ...   ...    ...          ...      ...      ...      ...   ...
4769      I30  2016   8680       Manual    25906   Diesel        0  78.4
4770      I40  2015   7830       Manual    59508   Diesel       30  65.7
4771      I10  2017   6830       Manual    13810   Petrol       20  60.1
4772   Tucson  2018  13994       Manual    23313   Petrol      145  44.8
4773   Tucson  2016  15999    Automatic    11472   Diesel      125  57.6

      engineSize
0            1.2
1            2.0
2            1.7
3            1.0
4            2.0
...          ...
4769         1.6
4770         1.7
4771         1.0
4772         1.6
4773         1.7

[4774 rows x 9 columns]

In [14]:
# Create a cursor object
cursor = connection.cursor()

# Query
query = "SELECT * FROM used_car.merc;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
merc = pd.DataFrame(result, columns=column_names)

#Print data
print(merc)

            model  year  price transmission  mileage fuelType  tax   mpg  \
0             SLK  2005   5200    Automatic    63000   Petrol  325  32.1
1         S Class  2017  34948    Automatic    27000   Hybrid   20  61.4
2        SL CLASS  2016  49948    Automatic     6200   Petrol  555  28.0
3         G Class  2016  61948    Automatic    16000   Petrol  325  30.4
4         G Class  2016  73948    Automatic     4000   Petrol  325  30.1
...           ...   ...    ...          ...      ...      ...  ...   ...
12855     C Class  2020  35999    Automatic      500   Diesel  145  55.4
12856     B Class  2020  24699    Automatic     2500   Diesel  145  55.4
12857   GLC Class  2019  30999    Automatic    11612   Diesel  145  41.5
12858   CLS Class  2019  37990    Automatic     2426   Diesel  145  45.6
12859     S Class  2019  54999    Automatic     2075   Diesel  145  52.3

       engineSize
0             1.8
1             2.1
2             5.5
3             4.0
4             4.0
...           ...
12855         2.0
12856         2.0
12857         2.1
12858         2.0
12859         2.9

[12860 rows x 9 columns]

In [15]:
# Create a cursor object
cursor = connection.cursor()

# Query
query = "SELECT * FROM used_car.skoda;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
skoda = pd.DataFrame(result, columns=column_names)

#Print data
print(skoda)

              model  year  price transmission  mileage fuelType  tax   mpg  \
0           Octavia  2017  10550       Manual    25250   Petrol  150  54.3
1            Citigo  2018   8200       Manual     1264   Petrol  145  67.3
2           Octavia  2019  15650    Automatic     6825   Diesel  145  67.3
3      Yeti Outdoor  2015  14000    Automatic    28431   Diesel  165  51.4
4            Superb  2019  18350       Manual    10912   Petrol  150  40.9
...             ...   ...    ...          ...      ...      ...  ...   ...
6183           Yeti  2014  11440    Semi-Auto    14569   Petrol  160  44.8
6184        Octavia  2014  10990    Semi-Auto    49999   Petrol   30  56.5
6185          Fabia  2017   9500    Semi-Auto    17131   Petrol  145  61.4
6186         Citigo  2016   5999       Manual    21747   Petrol   20  62.8
6187          Fabia  2017   9232    Semi-Auto    42530   Petrol   20  60.1

      engineSize
0            1.4
1            1.0
2            2.0
3            2.0
4            1.5
...          ...
6183         1.2
6184         1.4
6185         1.0
6186         1.0
6187         1.2

[6188 rows x 9 columns]

In [20]:
# Establish the connection
connection = mysql.connector.connect(
    host='localhost',          # e.g., 'localhost' or '127.0.0.1'
    user='root',      # your MySQL username
    password='Marblelfc246!@RP',  # your MySQL password
    database='used_car'   # your database name
)

# Create a cursor object
cursor = connection.cursor()

# Query
query = "SELECT * FROM used_car.all_used;"

# Execute the query
cursor.execute(query)

# Fetch all rows from the executed query
result = cursor.fetchall()

# Get column names
column_names = [i[0] for i in cursor.description]

# Create a DataFrame
all_used = pd.DataFrame(result, columns=column_names)

#Print data
print(all_used)

          model  year  price transmission  mileage fuelType  tax   mpg  \
0            A1  2017  12500       Manual    15735   Petrol  150  55.4
1            A6  2016  16500    Automatic    36203   Diesel   20  64.2
2            A1  2016  11000       Manual    29946   Petrol   30  55.4
3            A4  2017  16800    Automatic    25952   Diesel  145  67.3
4            A3  2019  17300       Manual     1998   Petrol  145  49.6
...         ...   ...    ...          ...      ...      ...  ...   ...
62857      Yeti  2014  11440    Semi-Auto    14569   Petrol  160  44.8
62858   Octavia  2014  10990    Semi-Auto    49999   Petrol   30  56.5
62859     Fabia  2017   9500    Semi-Auto    17131   Petrol  145  61.4
62860    Citigo  2016   5999       Manual    21747   Petrol   20  62.8
62861     Fabia  2017   9232    Semi-Auto    42530   Petrol   20  60.1

       engineSize   make
0             1.4   audi
1             2.0   audi
2             1.4   audi
3             2.0   audi
4             1.0   audi
...           ...    ...
62857         1.2  skoda
62858         1.4  skoda
62859         1.0  skoda
62860         1.0  skoda
62861         1.2  skoda

[62862 rows x 10 columns]

NameError: name 'sample' is not defined